<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>J Iceton</string>
	<key>Builder Version</key>
	<string>10600.7.12</string>
	<key>CFBundleDisplayName</key>
	<string>Safari Closed Tabs</string>
	<key>CFBundleIdentifier</key>
	<string>is.iceton.safari-closed-tabs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>safari-closed-tabs.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Reopen recently closed tabs</string>
	<key>DeveloperIdentifier</key>
	<string>AY86BF484B</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://iceton.is/safari-closed-tabs</string>
</dict>
</plist>
